# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov/

# Environments
.env
.venv
venv/
